registry = https://registry.npmmirror.com

sharp_binary_host = https://registry.npmmirror.com/-/binary/sharp
sharp_libvips_binary_host = https://registry.npmmirror.com/-/binary/sharp-libvips
profiler_binary_host_mirror = https://registry.npmmirror.com/-/binary/node-inspector/
fse_binary_host_mirror = https://registry.npmmirror.com/-/binary/fsevents
node_sqlite3_binary_host_mirror = https://registry.npmmirror.com/-/binary
sqlite3_binary_host_mirror = https://registry.npmmirror.com/-/binary
sqlite3_binary_site = https://registry.npmmirror.com/-/binary/sqlite3
sass_binary_site = https://registry.npmmirror.com/-/binary/node-sass
electron_mirror = https://registry.npmmirror.com/-/binary/electron/
puppeteer_download_host = https://registry.npmmirror.com/-/binary
chromedriver_cdnurl = https://registry.npmmirror.com/-/binary/chromedriver
operadriver_cdnurl = https://registry.npmmirror.com/-/binary/operadriver
phantomjs_cdnurl = https://registry.npmmirror.com/-/binary/phantomjs
python_mirror = https://registry.npmmirror.com/-/binary/python
disturl = https://npm.taobao.org/dist
